// _custom.scss

html, body, .fullheight {
    min-height: 100% !important;
    height: 100%;
}

.container {
    width: 100%;
    background-color: #A2A2C6;

    .cat {
        margin-top: 40px;
        margin-left: 20px;
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 200px;
        max-width: 100%;

        >h1.name {
            position: absolute;
            top: -40px;
            left: 20px;
            font-size: 18px;
            text-align: center;
            color: #fff;
            z-index: 4;
        }

        >img {
            display: block;
            position: relative;
            height: auto;
            width: 100%;
            margin: 0 auto;
            border-radius: 30px;
            z-index: 3;
        }

        >span.count {
            font-size: 60px;
            position: absolute;
            color: #fff;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            z-index: 2;
        }
    }
}

